body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*{
  padding:0;
  margin:0;
}
.header{
  height:50px;
  background: #444444;
}
.header header{
  width:1200px;
  line-height: 60px;
  margin :0 auto;
}
.header Header a{
  margin:0 20px;
  color:#fff;
}
.header img{
  width:120px;
}
.content{
  width:1200px;
  margin:30px auto 0;
}
.left{
  width:900px;
  float: left;
}
.right{
  width:270px;
  float: right;
  height:500px;
  background: red;
}